asn1crypto
certifi
cffi
chardet
cryptography
configparser
cssmin
Django
django-appconf
django-compressor
django-dynamic-model
django-extensions
django-microsoft-auth
idna
jsmin
lxml
mysqlclient
oauthlib
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
python-ldap
pytz
rcssmin
requests
requests-oauthlib
rjsmin
six
sqlparse
urllib3
Werkzeug
json
