asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cssmin==0.2.0
Django==2.2.4
django-appconf==1.0.3
django-compressor==2.3
django-dynamic-model==0.1.0
django-extensions==2.2.1
django-microsoft-auth==2.3.1
idna==2.8
jsmin==2.2.2
lxml==4.4.1
mysqlclient==1.4.4
oauthlib==3.1.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
python-ldap==3.2.0
pytz==2019.2
rcssmin==1.0.6
requests==2.22.0
requests-oauthlib==1.2.0
rjsmin==1.1.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
Werkzeug==0.15.6
